# SQL database from postgreSQL to Pandas

### Import dependencies

In [ ]:
# SQLAlchemy
from sqlalchemy import create_engine
# Pandas
import pandas as pd
# Dependencies
import matplotlib.pyplot as plt
import numpy as np

### Create Engine and connect to postgreSQL databases

In [ ]:
# Create an engine that can talk to the database
# engine = create_engine('postgresql://localhost:5432/SQL_HW_Test')
engine = create_engine('postgresql://localhost:5432/employee2_db')
conn = engine.connect()

### Read the databases for titles and salaries into dataframes

In [ ]:
# Query All Records in the the Database
titles_pd = pd.read_sql("SELECT * FROM titles", conn)
titles_pd.head()

In [ ]:
salary_pd = pd.read_sql("SELECT * FROM salary", conn)
salary_pd.head()

In [ ]:
combined = pd.merge(titles_pd,salary_pd,on="emp_no")
combined.head()

In [ ]:
combined_grp = combined.groupby("title").mean()
combined_grp

### Create bar chart

In [ ]:
plot1 = combined_grp.plot(kind="bar", title="Title vs Average Salary")
plot1.set_xlabel("Title")
plot1.set_ylabel("Average Salary")
plt.savefig("Title vs Average Salary.png")
plt.show()